{% extends 'base.html' %}

{% block content %}
    <h1>Agregar Ciudad</h1>

    <!-- Mostrar los mensajes de éxito o error -->
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li class="{% if message.tags == 'error' %}error{% else %}success{% endif %}">
                {{ message }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <form id="formularioCiudad" form method="POST">
        {% csrf_token %}
        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad">

        <label for="pais">País:</label>
        <input type="text" id="pais" name="pais">

        <button type="submit">Agregar Ciudad</button>
    </form>
{% endblock %}
