{% load static %}
<!-- viajeros/templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Viajeros</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'agregar_pasajero' %}">Agregar Pasajero</a></li>
            <li><a href="{% url 'agregar_ciudad' %}">Agregar Ciudad</a></li>
            <li><a href="{% url 'ver_destino' %}">Ver Destino</a></li>
            <li><a href="{% url 'ver_pais' %}">Ver País</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        <!-- Aquí se incluirá el contenido específico de cada vista -->
        {% endblock %}
    </div>

   



    <footer>
        <p>Desarrolladores:</p>
        <ul>
            <li>Jordanilo Maya Carmona</li>
            <li>Daniela Escobar Sanchez</li>
        </ul>
        <p>Universidad Pascual Bravo</p>
    </footer>
</body>
</html>
